@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Georama';
  src: url('./assets/fonts/Georama-Regular.ttf');
}

@font-face {
  font-family: 'Georama-Medium';
  src: url('./assets/fonts/Georama-Medium.ttf');
}

.custom-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

* {
  font-family: 'Georama';
}

.georama-medium {
  font-family: 'Georama-Medium';
}